.header {
  text-align: center;
}

.user-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.user {
  border: 1px solid black;
  width: 27%;
  margin: 2%;
  padding-left: 2%;
}

.profile-img {
  width: 60px;
  margin-top: 7%;
}
